---
import { Image } from "@astrojs/image/components";
import Layout from "../../layout/Layout.astro";
import "./style.css";
import animation from "/public/skilled-elearning/icon-animation.svg";
import business from "/public/skilled-elearning/icon-business.svg";
import crypto from "/public/skilled-elearning/icon-crypto.svg";
import design from "/public/skilled-elearning/icon-design.svg";
import photography from "/public/skilled-elearning/icon-photography.svg";
import logoDark from "/public/skilled-elearning/logo-dark.svg";
import logoLight from "/public/skilled-elearning/logo-light.svg";

const projectTitle = "Skilled eLearning";

type Card = {
  icon: ImageMetadata;
  heading: string;
  subheading: string;
};

const cards: Card[] = [
  {
    icon: animation,
    heading: "Animation",
    subheading:
      "Learn the latest animation techniques to create stunning motion design and captivate your audience.",
  },
  {
    icon: design,
    heading: "Design",
    subheading:
      "Create beautiful, usable interfaces to help shape the future of how the web looks.",
  },
  {
    icon: photography,
    heading: "Crypto",
    subheading:
      "All you need to know to get started investing in crypto. Go from beginner to advanced with this 54 hour course.",
  },
  {
    icon: crypto,
    heading: "Business",
    subheading:
      "A step-by-step playbook to help you start, scale, and sustain your business without outside investment.",
  },
  {
    icon: business,
    heading: "Animation",
    subheading:
      "Learn the latest animation techniques to create stunning motion design and captivate your audience.",
  },
];
---

<Layout title={projectTitle}>
  <nav class="nav">
    <Image class="nav__logo" loading={null} alt="" src={logoDark} />
    <button class="nav__cta" type="button">Get Started</button>
  </nav>
  <main>
    <section class="copywrite">
      <h1 class="copywrite__heading">Maximize skill, minimize budget</h1>
      <p class="copywrite__subheading">
        Our modern courses across a range of in-demand skills will give you the
        knowledge you need to live the life you want.
      </p>
      <button class="copywrite__cta" type="button">Get Started</button>
    </section>
    <picture class="hero__image">
      <source
        srcset="./skilled-elearning/image-hero-mobile@2x.png 2x,
        ./skilled-elearning/image-hero-mobile@2x.webp 2x,
        ./skilled-elearning/image-hero-mobile.png"
      />
      <img src="./skilled-elearning/image-hero-mobile.webp" alt="" />
    </picture>
    <section class="cards">
      <h2 class="cards__popular">Check out our most popular courses!</h2>
      {
        cards.map(({ icon, heading, subheading }) => (
          <div class="card">
            <Image class="card__icon" loading={null} alt="" src={icon} />
            <h3 class="card__heading">{heading}</h3>
            <p class="card__subheading">{subheading}</p>
            <button class="card__cta" type="button">
              Get Started
            </button>
          </div>
        ))
      }
    </section>
  </main>
  <footer class="footer">
    <Image class="footer__logo" loading={null} alt="" src={logoLight} />
    <button class="footer__cta" type="button">Get Started</button>
  </footer>
</Layout>
