---
import { Image } from "@astrojs/image/components";
import Layout from "../../layout/Layout.astro";
import bgPattern1 from "/public/equalizer/bg-pattern-1.svg";
import bgPattern2 from "/public/equalizer/bg-pattern-2.svg";
import android from "/public/equalizer/icon-android.svg";
import apple from "/public/equalizer/icon-apple.svg";
import phone from "/public/equalizer/illustration-app.png";
import logo from "/public/equalizer/logo.svg";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

  :root {
    --turquoiseBlue: #66e2dc;
    --coral: #fa7453;
    --rajah: #ffb964;
    --seashell: #fcfaf9;
    --blackRussian: #191826;

    --bg-main-mobile: url(../equalizer/bg-main-mobile.png);
    --bg-main-tablet: url(../equalizer/bg-main-tablet.png);
    --bg-main-desktop: url(../equalizer/bg-main-desktop.png);

    font-family: "IBM Plex Sans", sans-serif;
    color: var(--blackRussian);
  }
  /* xl:bg-[top_25%_right_40%] */

  @media screen(xl) {
    body {
      background-image: var(--bg-main-desktop);
      background-position: top 100% right 35%;
    }
  }
</style>

<Layout title="Equalizer" component>
  <header
    class="space-y-[6.4rem] bg-mobile bg-[left_5rem_top_-25rem] px-[2.4rem] pt-[4rem] pb-[16.6rem] md:relative md:space-y-[9.5rem] md:overflow-hidden md:bg-tablet md:bg-[top_55%_right_25%] md:px-[4rem] md:pt-[6.2rem] xl:space-y-[12.7rem] xl:bg-[image:unset] xl:px-[16.5rem] xl:pt-[6.2rem] xl:pb-[32rem]"
  >
    <Image
      loading={null}
      alt="Equalizer Logo"
      src={logo}
      width={146}
      height={32}
    />
    <div
      class="space-y-[2rem] md:max-w-[52rem] md:space-y-[2.8rem] xl:max-w-[101.5rem] xl:space-y-[4rem]"
    >
      <h1
        class="text-[4em] font-bold leading-[4.8rem] -tracking-[.045rem] md:text-[6.4em] md:leading-[6.4rem] md:-tracking-[.073rem] xl:text-[8.8em] xl:leading-[8.8rem] xl:-tracking-[0.1rem]"
      >
        We make your music sound extraordinary.
      </h1>
      <p
        class="text-[1.6em] leading-[2.6rem] md:text-[1.8em] md:leading-[2.8rem] xl:max-w-[82.5rem] xl:text-[2rem] xl:leading-[3.4rem]"
      >
        A system audio equalizer specifically designed for Android and iOS.
        Freely tune the way your music sounds with a professional grade
        parametric EQ & volume mixer. Control bass, mids, treble, gain control,
        reverb, and more!
      </p>
    </div>
    <Image
      loading={null}
      alt=""
      src={bgPattern1}
      class="hidden md:absolute md:-top-[25%] md:-right-[5%] md:block md:h-[40rem] md:w-[26.7rem] xl:right-0 xl:-top-[20%] xl:h-[46.8rem] xl:w-[31.2rem]"
    />
  </header>
  <main
    class="relative h-[60em] rounded-[1.2em] bg-blackRussian md:mx-[3.6rem] xl:mx-[16.5rem]"
  >
    <Image
      loading={null}
      alt=""
      src={bgPattern2}
      class="absolute top-0 left-1/2 -translate-x-[50%] md:-top-[2.5rem] lg:-translate-x-[74%] w-[28rem] h-[42rem] xl:w-[31.2rem] xl:h-[46.8rem]"
    />
    <Image
      loading={null}
      alt=""
      src={phone}
      class="absolute top-0 left-1/2 w-[20.9rem] h-[43rem] -translate-x-[50%] -translate-y-[25%] md:left-1/4 md:w-[27rem] md:h-[55.6rem] xl:w-[31.2rem] xl:h-[64.2rem ]"
    />
    <div
      class="md:p-[4.8rem ] absolute top-full grid -translate-y-[30%] gap-[1.2rem] rounded-[1.2em] bg-coral py-[4.8em] px-[3.6em] md:top-[15rem] md:right-[7.5rem] md:w-[40rem] md:translate-y-0 xl:top-[10rem] xl:left-1/2 xl:h-[62.5rem] xl:w-[44.6rem] xl:gap-[1.6rem] xl:px-[5.7rem] xl:py-[5.3rem]"
    >
      <h2
        class="text-[3.2rem] font-bold leading-[4rem] text-seashell xl:text-[4rem] xl:leading-[5.2rem]"
      >
        Premium EQ
      </h2>
      <p
        class="text-[1.8em] leading-[2.8rem] text-seashell xl:mt-[.6rem] xl:text-[2rem] xl:leading-[3.4rem]"
      >
        Get expert-level control with a robust equalizer, volume mixer, and
        spatial audio. Take your listening experience to a whole new level and
        access all our incredible features!
      </p>
      <h3
        class="mt-[2.4rem] flex gap-[1.6rem] text-[6.5em] font-bold leading-[5.2rem] text-seashell"
      >
        $4<span
          class="self-center text-[2rem] leading-[3.2rem] -tracking-[.02rem]"
          >/ month</span
        >
      </h3>
      <button
        class="mt-[2em] flex items-center justify-center gap-[.8rem] rounded-[1.2rem] bg-blackRussian py-[1.5rem] text-[1.8em] font-bold leading-[3.2rem] -tracking-[.018rem] text-seashell active:bg-turquoiseBlue xl:mt-[3em]"
      >
        <Image loading={null} alt="" src={apple} height={20} width={20} />

        iOS Download
      </button>
      <button
        class="flex items-center justify-center gap-[.8rem] rounded-[1.2rem] bg-seashell py-[1.5rem] text-[1.8em] font-bold leading-[3.2rem] -tracking-[.018rem] active:bg-rajah"
      >
        <Image loading={null} alt="" src={android} height={20} width={20} />

        Android Download
      </button>
    </div>
  </main>
  <footer
    class="mt-[39rem] grid gap-[3.2rem] px-[2.4rem] py-[8rem] md:mt-[10rem] md:grid-cols-3 md:items-center md:px-[3.6rem] md:py-[8.5rem] xl:grid-cols-4 xl:px-[16.5rem] xl:py-[9rem]"
  >
    <img
      src="./equalizer/logo.svg"
      alt=""
      class="md:col-span-3 xl:col-span-1 xl:self-start"
    />
    <div
      class="text-[1.6em] leading-[2.6rem] md:col-span-2 md:max-w-[36.6rem] xl:col-span-2"
    >
      <p>All rights reserved © Equalizer 2021</p>
      <p>
        Have any problems? Contact us via social media or email us at
        <b>equalizer@example.com</b>
      </p>
    </div>
    <div class="mt-[3.2rem] flex gap-[2rem] md:mt-0 md:justify-end">
      <button class="group">
        <svg
          width="20"
          height="20"
          xmlns="http://www.w3.org/2000/svg"
          class="fill-blackRussian group-active:fill-coral"
          ><path
            d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0Z"
          >
          </path>
        </svg>
      </button>
      <button class="group">
        <svg
          width="20"
          height="20"
          xmlns="http://www.w3.org/2000/svg"
          class="fill-blackRussian group-active:fill-coral"
        >
          <path
            d="M10 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.975 1.409 4.099 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.057 4.042-.124 2.687-1.387 3.975-4.1 4.099-1.054.048-1.37.058-4.041.058-2.67 0-2.987-.01-4.04-.058-2.718-.124-3.977-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058ZM10 0C7.284 0 6.944.012 5.877.06 2.246.227.227 2.242.061 5.877.01 6.944 0 7.284 0 10s.012 3.057.06 4.123c.167 3.632 2.182 5.65 5.817 5.817 1.067.048 1.407.06 4.123.06s3.057-.012 4.123-.06c3.629-.167 5.652-2.182 5.816-5.817.05-1.066.061-1.407.061-4.123s-.012-3.056-.06-4.122C19.777 2.249 17.76.228 14.124.06 13.057.01 12.716 0 10 0Zm0 4.865a5.135 5.135 0 1 0 0 10.27 5.135 5.135 0 0 0 0-10.27Zm0 8.468a3.333 3.333 0 1 1 0-6.666 3.333 3.333 0 0 1 0 6.666Zm5.338-9.87a1.2 1.2 0 1 0 0 2.4 1.2 1.2 0 0 0 0-2.4Z"
          >
          </path>
        </svg>
      </button>
      <button class="group">
        <svg
          width="20"
          height="17"
          xmlns="http://www.w3.org/2000/svg"
          class="fill-blackRussian group-active:fill-coral"
        >
          <path
            d="M20 2.172a8.192 8.192 0 0 1-2.357.646 4.11 4.11 0 0 0 1.805-2.27 8.22 8.22 0 0 1-2.606.996A4.096 4.096 0 0 0 13.847.248c-2.65 0-4.596 2.472-3.998 5.037A11.648 11.648 0 0 1 1.392 1a4.109 4.109 0 0 0 1.27 5.478 4.086 4.086 0 0 1-1.858-.513c-.045 1.9 1.318 3.679 3.291 4.075a4.113 4.113 0 0 1-1.853.07 4.106 4.106 0 0 0 3.833 2.849A8.25 8.25 0 0 1 0 14.658a11.616 11.616 0 0 0 6.29 1.843c7.618 0 11.923-6.434 11.663-12.205A8.354 8.354 0 0 0 20 2.172Z"
          >
          </path>
        </svg>
      </button>
    </div>
  </footer>
</Layout>
