---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import "./style.scss";
import calculator from "/public/four-card-feature-section/icon-calculator.svg";
import karma from "/public/four-card-feature-section/icon-karma.svg";
import supervisor from "/public/four-card-feature-section/icon-supervisor.svg";
import teamBuilder from "/public/four-card-feature-section/icon-team-builder.svg";

const projectTitle = "Four Card Feature Section";

type Card = {
  heading: string;
  subheading: string;
  image: ImageMetadata;
};

const cards: Card[] = [
  {
    heading: "Supervisor",
    subheading: "Monitors activity to identify project roadblocks",
    image: supervisor,
  },
  {
    heading: "Team Builder",
    subheading:
      "Scans our talent network to create the optimal team for your project",
    image: teamBuilder,
  },
  {
    heading: "Karma",
    subheading: "Regularly evaluates our talent to ensure quality",
    image: karma,
  },
  {
    heading: "Calculator",
    subheading:
      "Uses data from past projects to provide better delivery estimates",
    image: calculator,
  },
];
---

<Layout title={projectTitle}>
  <main>
    <Heading title={projectTitle} />
    <article class="copywrite">
      <h2 class="copywrite__heading">
        Reliable, efficient delivery
        <strong class="copywrite__strong">Powered by Technology</strong>
      </h2>
      <p class="copywrite__subheading">
        Our Artificial Intelligence powered tools use millions of project data
        points to ensure that your project is successful
      </p>
    </article>
    <div class="cards">
      {
        cards.map(({ heading, subheading, image }) => (
          <div class="card">
            <h3 class="card__heading">{heading}</h3>
            <p class="card__subheading">{subheading}</p>
            <Image class="card__image" loading={null} alt="" src={image} />
          </div>
        ))
      }
    </div>
  </main>
</Layout>
