---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import "./style.scss";
import arrow from "/public/base-apparel-coming-soon-page/icon-arrow.svg";
import error from "/public/base-apparel-coming-soon-page/icon-error.svg";
import logo from "/public/base-apparel-coming-soon-page/logo.svg";

const projectTitle = "Base Apparel Coming Soon Page";

/**
 * Scheduled for rewrite
 */
---

<Layout title={projectTitle}>
  <main>
    <Heading title={projectTitle} />
    <header class="logo">
      <Image class="logo__image" loading={null} alt="" src={logo} />
    </header>
    <picture class="hero">
      <source
        srcset="/base-apparel-coming-soon-page/hero-desktop.jpg"
        media="(min-width: 1440px)"
      />
      <img
        src="/base-apparel-coming-soon-page/hero-mobile.jpg"
        alt=""
        class="hero__image"
      />
    </picture>
    <section class="copywrite">
      <h2 class="copywrite__heading">
        We're <span class="copywrite__emphasize">Coming Soon</span>
      </h2>
      <p class="copywrite__subheading">
        Hello fellow shoppers! We're currently building our new fashion store.
        Add your email below to stay up-to-date with announcements and our
        launch deals.
      </p>
      <form class="form" action="#">
        <input
          class="form__input"
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
        />
        <div class="form__button_container">
          <Image
            class="form__invalid_icon"
            loading={null}
            alt=""
            src={error}
            width={24}
            height={24}
          />
          <button class="form__button" type="submit" title="Submit Button">
            <Image loading={null} alt="" src={arrow} width={9} height={18} />
          </button>
        </div>
        <span class="form__invalid">Please provide a valid email</span>
      </form>
    </section>
  </main>
</Layout>
