---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import icon from "/public/order-summary/icon-music.svg";
import hero from "/public/order-summary/illustration-hero.svg";

const projectTitle = "Order Summary";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

  :root {
    /* Primary */
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);

    /* Neutral */

    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);

    --bg-main-mobile: url(../order-summary/pattern-background-mobile.svg);
    --bg-main-desktop: url(../order-summary/pattern-background-desktop.svg);

    --box-shadow-card: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    --box-shadow-button: 0px 20px 20px rgba(56, 42, 225, 0.190291);

    background-color: var(--paleBlue);
    font-family: "Red Hat Display", sans-serif;
  }
</style>

<Layout title={projectTitle} component>
  <main
    class="grid min-h-screen place-items-center bg-mobile bg-contain bg-no-repeat px-[2.4rem] desktop:bg-desktop"
  >
    <Heading title={projectTitle} />
    <div
      class="h-[56.7rem] w-[32.7rem] overflow-hidden rounded-[2rem] bg-white shadow-card desktop:h-[69.7rem] desktop:w-[45rem]"
    >
      <Image loading={null} alt="" src={hero} class="w-full" />
      <div
        class="flex flex-col items-center gap-y-[1.6rem] py-[3.2rem] px-[2.4rem] desktop:gap-y-[1.7rem] desktop:p-[4.8rem]"
      >
        <h1
          class="text-[2.2rem] font-black leading-[2.91rem] text-darkBlue desktop:text-[2.8rem] desktop:leading-[3.7rem]"
        >
          Order Summary
        </h1>
        <p
          class="text-center text-[1.5rem] font-medium leading-[2.5rem] text-desaturatedBlue desktop:text-[1.6rem] desktop:leading-[2.6rem]"
        >
          You can now listen to millions of songs, audiobooks, and podcasts on
          any device anywhere you like!
        </p>
        <div
          class="mt-[.8rem] flex items-center gap-x-[2rem] bg-[hsl(228_100%_99%)] p-[1.6rem] desktop:mt-[.3rem] desktop:px-[2.4rem] desktop:py-[2.5rem]"
        >
          <Image loading={null} alt="" src={icon} width={48} height={48} />
          <div
            class="flex flex-col justify-center gap-y-[.3rem] desktop:gap-y-[.6rem]"
          >
            <strong
              class="text-[1.4rem] font-black leading-[1.85rem] text-darkBlue desktop:text-[1.6rem] desktop:leading-[2.12rem]"
            >
              Annual Plan
            </strong>
            <span
              class="text-[1.4rem] font-medium leading-[1.85rem] text-desaturatedBlue desktop:text-[1.6rem] desktop:leading-[2.12rem]"
            >
              $59.99/year
            </span>
          </div>
          <button
            class="ml-[3rem] text-[1.3rem] font-bold leading-[1.72rem] text-brightBlue underline active:text-[hsl(245_83%_68%)] desktop:ml-[7.4rem] desktop:text-[1.4rem] desktop:leading-[1.85rem]"
          >
            Change
          </button>
        </div>
        <button
          class="mt-[.8rem] w-full rounded-[1.1rem] bg-brightBlue p-[1.5rem] text-[1.5rem] font-black leading-[1.99rem] text-white shadow-button active:bg-[hsl(245_83%_68%)] desktop:mt-[1.5rem]"
        >
          Proceed to Payment
        </button>
        <button
          class="mt-[.8rem] w-full text-[1.5rem] font-black leading-[1.99rem] text-desaturatedBlue active:text-darkBlue"
        >
          Cancel Order
        </button>
      </div>
    </div>
  </main>
</Layout>
