---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import "./style.css";
import cardPattern from "/public/profile-card/bg-pattern-card.svg";
import victor from "/public/profile-card/image-victor.jpg";

const projectTitle = "Profile Card";

type Stat = {
  number: string;
  description: string;
};

const stats: Stat[] = [
  {
    number: "80K",
    description: "Followers",
  },
  {
    number: "803K",
    description: "Likes",
  },
  {
    number: "1.4K",
    description: "Photos",
  },
];
---

<Layout title={projectTitle} component>
  <main>
    <Heading title={projectTitle} />
    <div class="user">
      <div class="user__header">
        <Image loading={null} alt="" src={cardPattern} class="user__pattern" />
        <Image loading={null} alt="" src={victor} class="user__avatar" />
      </div>
      <div class="user__information">
        <div class="user__details">
          <h2 class="user__name">Victor Crest</h2>
          <span class="user__age">26</span>
        </div>
        <span class="user__location">London</span>
      </div>
      <div class="user__stats">
        {
          stats.map(({ number, description }) => (
            <div class="stat">
              <span class="stat__number" id={number}>
                {number}
              </span>
              <label class="stat__description" for={number}>
                {description}
              </label>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
