---
import { Image } from "@astrojs/image/components";
import Footer from "../../components/Footer.astro";
import Layout from "../../layout/Layout.astro";
import luxury from "/public/3-column-preview-card/icon-luxury.svg";
import sedan from "/public/3-column-preview-card/icon-sedans.svg";
import suvs from "/public/3-column-preview-card/icon-suvs.svg";

type Card = {
  color: string;
  image: ImageMetadata;
  heading: string;
  subheading: string;
};

const cards: Card[] = [
  {
    color: "brightOrange",
    image: sedan,
    heading: "Sedans",
    subheading:
      "Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.",
  },
  {
    color: "darkCyan",
    image: suvs,
    heading: "Suvs",
    subheading:
      "Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation and off-road adventures.",
  },
  {
    color: "veryDarkCyan",
    image: luxury,
    heading: "Luxury",
    subheading:
      "Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfort of a luxury rental and arrive in style.",
  },
];
---

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

  :root {
    /* Primary */
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparentWhite: hsla(0, 0%, 100%, 0.75);
    --veryLightGray: hsl(0, 0%, 95%);

    --baseFont: "Lexend Deca", sans-serif;

    background-color: var(--veryLightGray);
  }

  main {
    min-height: 100vh;
    min-height: 100svh;

    padding: 8.8rem 2.4rem;
    display: grid;
    place-items: center;
  }

  .card_container {
    border-radius: 0.8rem;
    overflow: hidden;
  }

  .card {
    --color: unset;
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: var(--color);

    &__heading {
      margin-top: 1rem;
      font-family: "Big Shoulders Display", cursive;
      font-weight: 700;
      font-size: 4rem;
      line-height: 4.79rem;
      color: var(--veryLightGray);
      text-transform: uppercase;
    }

    &__subheading {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: var(--transparentWhite);
    }

    &__cta {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: var(--color);
      padding: 1.1rem 3.15rem;
      width: fit-content;
      background-color: var(--veryLightGray);
      border-radius: 2.5rem;

      &:active {
        outline: 0.2rem solid var(--veryLightGray);
        background-color: var(--color);
        color: var(--veryLightGray);
      }
    }

    &--brightOrange {
      --color: var(--brightOrange);
    }

    &--darkCyan {
      --color: var(--darkCyan);
    }

    &--veryDarkCyan {
      --color: var(--veryDarkCyan);
    }
  }

  @media screen and (min-width: 1024px) {
    .card_container {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .card {
      max-width: 30.7rem;
      &__cta {
        margin-top: 5.8rem;
      }
    }
  }
</style>

<Layout title="3 Column Preview Card" component>
  <main>
    <div class="card_container">
      {
        cards.map(({ color, image, heading, subheading }) => (
          <div class={`card card--${color}`}>
            <Image loading={null} alt="" src={image} width={64} height={40} />
            <h1 class="card__heading">{heading}</h1>
            <p class="card__subheading">{subheading}</p>
            <button type="button" class="card__cta">
              Learn More
            </button>
          </div>
        ))
      }
    </div>
  </main>
  <Footer color="var(--brightOrange)" font="var(--baseFont)" />
</Layout>
