---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import "./style.scss";
import luxury from "/public/3-column-preview-card/icon-luxury.svg";
import sedan from "/public/3-column-preview-card/icon-sedans.svg";
import suvs from "/public/3-column-preview-card/icon-suvs.svg";

const projectTitle = "3 Column Preview Card";

type Card = {
  color: string;
  image: ImageMetadata;
  heading: string;
  subheading: string;
};

const cards: Card[] = [
  {
    color: "brightOrange",
    image: sedan,
    heading: "Sedans",
    subheading:
      "Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.",
  },
  {
    color: "darkCyan",
    image: suvs,
    heading: "Suvs",
    subheading:
      "Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation and off-road adventures.",
  },
  {
    color: "veryDarkCyan",
    image: luxury,
    heading: "Luxury",
    subheading:
      "Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfort of a luxury rental and arrive in style.",
  },
];
---

<Layout title={projectTitle} component>
  <main>
    <Heading title={projectTitle} />
    <div class="card_container">
      {
        cards.map(({ color, image, heading, subheading }) => (
          <div class={`card card--${color}`}>
            <Image loading={null} alt="" src={image} width={64} height={40} />
            <h1 class="card__heading">{heading}</h1>
            <p class="card__subheading">{subheading}</p>
            <button type="button" class="card__cta">
              Learn More
            </button>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
