---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import clock from "/public/nft-preview-card/icon-clock.svg";
import ethereum from "/public/nft-preview-card/icon-ethereum.svg";
import avatar from "/public/nft-preview-card/image-avatar.png";
import equilibrium from "/public/nft-preview-card/image-equilibrium.jpg";

const projectTitle = "NFT Preview Card";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

  :root {
    /* Primary */
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --veryDarkBlueMain: hsl(217, 54%, 11%);
    --veryDarkBlueCard: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --bg-eye: url(../nft-preview-card/icon-view.svg);

    --box-shadow-card: 0 2.5em 5em rgba(0, 0, 0, 0.1);

    --baseFont: "Outfit", sans-serif;

    font-family: var(--baseFont);
  }
</style>

<Layout title={projectTitle} component>
  <main
    class="grid min-h-screen place-items-center bg-veryDarkBlueMain p-[2.4rem]"
  >
    <Heading title={projectTitle} />
    <div
      class="flex max-h-[54.3rem] max-w-[32.7rem] flex-col gap-y-[1.2rem] rounded-[1.5rem] bg-veryDarkBlueCard p-[2.4rem] shadow-card desktop:max-h-[59.6rem] desktop:max-w-[35rem] desktop:gap-y-[1.6rem] desktop:pb-[3.2rem]"
    >
      <button
        class="relative after:absolute after:inset-0 after:hidden after:h-full after:w-full after:rounded-[.8rem] after:bg-[rgb(0_255_248_/_0.5)] after:bg-eye after:bg-auto after:bg-center after:bg-no-repeat active:after:block"
        type="button"
      >
        <Image
          src={equilibrium}
          alt="Equilibrium Image"
          loading={null}
          class="rounded-[.8rem]"
        />
      </button>
      <button
        class="mt-[1.2rem] text-start text-[2.2rem] font-semibold leading-[2.78rem] text-white active:text-cyan desktop:mt-[.8rem]"
        type="button">Equilibrium #3429</button
      >
      <p class="text-[1.8rem] font-light leading-[2.6rem] text-softBlue">
        Our Equilibrium collection promotes balance and calm.
      </p>
      <div
        class="mt-[.4rem] flex justify-between border-b border-b-veryDarkBlueLine pb-[1.6rem] text-softBlue desktop:mt-[.8rem] desktop:pb-[2.4rem]"
      >
        <h1
          class="flex items-center gap-[.7rem] text-[1.5rem] font-semibold leading-[1.89rem] desktop:text-[1.6em] desktop:leading-[2.02rem]"
        >
          <Image alt="" src={ethereum} width={11} height={18} loading={null} />
          0.041 ETH
        </h1>
        <span
          class="flex items-center gap-[.7rem] text-[1.5rem] leading-[1.89rem] desktop:text-[1.6rem] desktop:leading-[2.02rem]"
        >
          <Image alt="" src={clock} width={16} height={16} loading={null} />
          3 days left
        </span>
      </div>
      <div
        class="mt-[.4rem] flex items-center gap-x-[1.6rem] desktop:mt-0 desktop:pb-[.8rem]"
      >
        <Image
          src={avatar}
          alt="Jules Wyvern's Avatar"
          loading={null}
          width={33}
          height={33}
          class="rounded-full border border-white"
        />
        <h2
          class="text-[1.5rem] leading-[1.89rem] text-softBlue desktop:text-[1.6rem] desktop:leading-[2.02rem]"
        >
          Creation of
          <button class="text-white active:text-cyan" type="button">
            Jules Wyvern
          </button>
        </h2>
      </div>
    </div>
  </main>
</Layout>
