---
import { Image } from "@astrojs/image/components";
import Author from "../../components/Author.astro";
import Footer from "../../components/Footer.astro";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import data from "./data.json";
import "./style.css";
import memory from "/public/results-summary/icon-memory.svg";
import reaction from "/public/results-summary/icon-reaction.svg";
import verbal from "/public/results-summary/icon-verbal.svg";
import visual from "/public/results-summary/icon-visual.svg";

type Category = {
  category: string;
  score: number;
  icon: ImageMetadata;
};

const icons = [reaction, memory, verbal, visual];

const categories: Category[] = data.map(({ category, score }, index) => ({
  category,
  score,
  icon: icons[index],
}));

const projectTitle = "Results Summary";
---

<Layout title={projectTitle}>
  <main>
    <Heading title={projectTitle} />
    <div class="card">
      <div class="result">
        <span class="result__title">Your Result</span>
        <div class="result__total">
          <span class="result__score">76</span>
          of 100
        </div>
        <div class="result__description">
          <span class="result__heading">Great</span>
          <p class="result__subheading">
            Your performance exceed 65% of the people conducting the test here!
          </p>
        </div>
      </div>
      <div class="summary">
        <h2 class="summary__heading">Summary</h2>
        <div class="categories">
          {
            categories.map(({ category, score, icon }) => (
              <div class="category">
                <Image
                  class="category__icon"
                  loading={null}
                  alt=""
                  src={icon}
                  width={20}
                  height={20}
                />
                <span class="category__name">{category}</span>
                <span class="category__total">
                  <span class="category__score">{score}</span> / 100
                </span>
              </div>
            ))
          }
        </div>
        <button type="button" class="summary__cta">Continue</button>
      </div>
    </div>
  </main>
  <Author />
  <Footer font="var(--baseFont)" color="var(--lightSlateBlue)" />
</Layout>
