---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import illustration from "/public/huddle-landing-page/illustration-mockups.svg";
import logo from "/public/huddle-landing-page/logo.svg";

const projectTitle = "Huddle Landing Page";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

  :root {
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);

    /* 
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    */

    --baseFont: "Open Sans", sans-serif;

    font-family: var(--baseFont);
    color: var(--white);
  }

  body {
    background-image: url(../huddle-landing-page/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--violet);
    background-size: contain;
  }

  .header {
    padding: 3.82rem 4rem;
  }

  .header__logo {
    max-width: 12rem;
  }

  .main {
    padding: 3.16rem 3.6rem;
    display: grid;
    row-gap: 6rem;
  }

  .copywrite {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    text-align: center;
    padding-inline: 1rem;
  }

  .copywrite__heading {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-family: "Poppins";
  }

  .copywrite__subheading {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .copywrite__cta {
    font-family: "Poppins";
    margin-top: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--violet);
    padding: 1.1rem 7.5rem;
    background-color: var(--white);
    box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.27);
    border-radius: 2rem;
    width: fit-content;
    align-self: center;
  }

  .footer {
    display: flex;
    column-gap: 1.1rem;
    justify-content: center;
    align-items: center;
    padding-block: 3.24rem 4rem;
  }

  .footer__icon_container {
    border: 0.1rem solid var(--white);
    border-radius: 50%;
    width: 3rem;
  }

  .footer__icon_container:active {
    border-color: var(--softMagenta);
  }

  .footer__icon {
    aspect-ratio: 1/1;
    padding: 0.75rem;
    fill: var(--white);
  }

  .footer__icon_container:active > .footer__icon {
    fill: var(--softMagenta);
  }

  @media screen and (min-width: 1440px) {
    body {
      background-image: url(../huddle-landing-page/bg-desktop.svg);
      background-size: cover;
    }

    .header {
      padding: 6.4rem 8rem;
    }

    .header__logo {
      max-width: 20rem;
    }

    .main {
      padding: 4rem 8rem 0;
      grid-template-columns: 69.6rem 1fr;
      column-gap: 6rem;
    }

    .copywrite {
      row-gap: 2.4rem;
      text-align: start;
      padding-inline: unset;
      padding-top: 3.2rem;
    }

    .copywrite__heading {
      font-size: 4rem;
      line-height: 6rem;
    }

    .copywrite__subheading {
      font-size: 1.8rem;
      line-height: 2.7rem;
    }

    .copywrite__cta {
      margin-top: unset;
      font-size: 1.8rem;
      line-height: 2.7rem;
      padding: 1.3rem 6.3rem 1.6rem;
      border-radius: 2.8rem;
      align-self: flex-start;
    }

    .copywrite__cta:active {
      background-color: var(--softMagenta);
    }

    .footer {
      padding: 2.7rem 8rem 4rem;
      column-gap: 1.6rem;
      justify-content: flex-end;
    }

    .footer__icon_container {
      width: 4.2rem;
    }

    .footer__icon {
      aspect-ratio: 1/1;
      padding: 1rem;
    }
  }
</style>

<Layout title={projectTitle}>
  <header class="header">
    <Image class="header__logo" loading={null} alt="" src={logo} />
  </header>
  <main class="main">
    <Heading title={projectTitle} />
    <Image loading={null} alt="" src={illustration} />
    <div class="copywrite">
      <h2 class="copywrite__heading">
        Build The Community Your Fans Will Love
      </h2>
      <p class="copywrite__subheading">
        Huddle re-imagines the way we build communities. You have a voice, but
        so does your audience. Create connections with your users as you engage
        in genuine discussion.
      </p>
      <button type="button" class="copywrite__cta">Register</button>
    </div>
  </main>
  <footer class="footer" id="footer">
    <a class="footer__icon_container" href="#footer">
      <svg
        class="footer__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <path
          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
        >
        </path>
      </svg>
    </a>

    <a class="footer__icon_container" href="#footer">
      <svg
        class="footer__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
        >
        </path>
      </svg>
    </a>
    <a class="footer__icon_container" href="#footer">
      <svg
        class="footer__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
        >
        </path>
      </svg>
    </a>
  </footer>
</Layout>
