---
import { Image } from "@astrojs/image/components";
import Author from "../../components/Author.astro";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import "./style.scss";
import star from "/public/social-proof-section/icon-star.svg";
import anne from "/public/social-proof-section/image-anne.jpg";
import colton from "/public/social-proof-section/image-colton.jpg";
import irene from "/public/social-proof-section/image-irene.jpg";

type Rating = {
  description: string;
};

const ratings: Rating[] = [
  {
    description: "Rated 5 Stars in Reviews",
  },
  {
    description: "Rated 5 Stars in Report Guru",
  },
  {
    description: "Rated 5 Stars in BestTech",
  },
];

type Testimonial = {
  image: ImageMetadata;
  name: string;
  title: string;
  description: string;
};

const testimonials: Testimonial[] = [
  {
    image: colton,
    name: "Colton Smith",
    title: "Verified Buyer",
    description:
      "“ We needed the same printed design as the one we had ordered a week prior. Not only did they find the original order, but we also received it in time. Excellent! ”",
  },
  {
    image: irene,
    name: "Irene Roberts",
    title: "Verified Buyer",
    description:
      "“ Customer service is always excellent and very quick turn around. Completely delighted with the simplicity of the purchase and the speed of delivery. ”",
  },
  {
    image: anne,
    name: "Anne Wallace",
    title: "Verified Buyer",
    description:
      "“ Put an order with this company and can only praise them for the very high standard. Will definitely use them again and recommend them to everyone! ”",
  },
];
---

<Layout title="Social Proof Section" component>
  <main>
    <Heading title="Social Proof Section" />
    <div class="hero">
      <section class="copywrite">
        <h2 class="copywrite__heading">
          10,000+ of our users love our products.
        </h2>
        <p class="copywrite__subheading">
          We only provide great products combined with excellent customer
          service. See what our satisfied customers are saying about our
          services.
        </p>
      </section>
      <article class="ratings">
        {
          ratings.map(({ description }) => (
            <div class="rating">
              <div class="rating__stars">
                <Image loading={null} alt="" src={star} />
                <Image loading={null} alt="" src={star} />
                <Image loading={null} alt="" src={star} />
                <Image loading={null} alt="" src={star} />
                <Image loading={null} alt="" src={star} />
              </div>
              <span class="rating__description">{description}</span>
            </div>
          ))
        }
      </article>
    </div>
    <article class="testimonials">
      {
        testimonials.map(({ image, name, title, description }) => (
          <div class="testimonial">
            <div class="testimonial__header">
              <Image
                loading={null}
                alt=""
                src={image}
                class="testimonial__avatar"
              />
              <div class="testimonial__user">
                <h3 class="testimonial__name">{name}</h3>
                <h4 class="testimonial__title">{title}</h4>
              </div>
            </div>
            <p class="testimonial__description">{description}</p>
          </div>
        ))
      }
    </article>
  </main>
  <Author />
</Layout>
